[submodule "src/flexbe_behavior_engine"]
	path = src/flexbe_behavior_engine
	url = https://github.com/FlexBE/flexbe_behavior_engine.git
[submodule "src/flexbe_app"]
	path = src/flexbe_app
	url = https://github.com/FlexBE/flexbe_app.git
